.app {
  display: flex;
  width: 100vw;
  min-width: 500px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background: radial-gradient(ellipse at top, #303a3d 0%, #0e2025 100%);
}

.new-todo{
  display: flex;
  flex-direction: row;
}

.no-todos{
  color: #ffffff;
}

.top-section {
  flex-grow: 0;
  padding: 2em;
}

.bottom-section {
  flex-grow: 1;
}

button {
  padding: 0 25px;
  width: auto;
  background-color: #319fc6;
  border: none;
  border-radius: 0 2px 2px 0;
  color: #ffffff;
  font: inherit;
  line-height: 40px;
  cursor: pointer;
  max-height: 40px;
}

.todo {
  display: flex;
  max-width: 30em;
  min-width: 450px;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em;
  margin-bottom: 0.5em;
  background: #ffffff; 
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.todo::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  left: 0;
  top: 0;
  background: #319fc6;
}

.todo.checked::before {
  background: #5dbb56;
}

.todo::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  left: 8px;
  top: calc(50% - 1px);
  background: #319fc6;
}

.todo.checked::after {
  background: #5dbb56;
}

.todo > button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  line-height: 15px;
  font-size: 15px;
  background: #858585;
  color: #ffffff;
  text-shadow: 0 0 0 #ffffff;
}

.todo .todo-title {
  max-width: 68%;
}

.todo.checked .todo-title {
  color: #888;
  font-style: italic;
  text-decoration: line-through;
}

input {
  box-sizing: border-box;
  border: 2px solid #319fc6;
  background: #ffffff;
  color: #333333;
  font: inherit;
  line-height: 40px;
  height: 40px;
  border-radius: 2px 0 0 2px;
  outline: none;
}

.checkbox {
  font-size: 2em;
}

.checkbox > input[type="checkbox"] {
  display: none;
}

.checkbox > input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  transform: rotateZ(45deg);
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #319fc6;
  left: 50px;
  top: calc(50% - 10px);
  cursor: pointer;
}

.checkbox > input[type="checkbox"]:checked + label::before {
  border-color: #5dbb56;
  background: #5dbb56;
}

.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
